soft/project/build
soft/project/app
soft/project/app/*
soft/project/app/ctrl.exe
soft/firmware/valve/.dep
soft/firmware/valve/.settings
soft/firmware/valve/build/lst
soft/firmware/valve/build/obj
soft/firmware/valve/.dep/*
soft/firmware/valve/.settings/*
soft/firmware/valve/build/lst/*
soft/firmware/valve/build/obj/*
soft/firmware/usbtest/.dep/*
soft/firmware/usbtest/.settings/*
soft/firmware/usbtest/build/lst/*
soft/firmware/usbtest/build/obj/*
soft/firmware/i2ctest/.dep/*
soft/firmware/i2ctest/.settings/*
soft/firmware/i2ctest/build/lst/*
soft/firmware/i2ctest/build/obj/*
soft/firmware/tests/build
soft/firmware/tests/build.app
soft/remote_ctrl/build
soft/remote_ctrl/build.app
soft/remote_ctrl/build.eclipse
soft/remote_ctrl/app


